body {
    font-family: fantasy;
    background-image: url("Images/lightgreywood.jpg");
}
.heading-style {
    padding-top: 30px;
}
.box-border {
    border: double rgba(0, 47, 67, 0.30);
    padding-top: 10px;
}
.header-option {
    float: right;
}
.image{
    height: 60px;
    width: 60px;
}